.header-main{
  display: flex;
  justify-content: space-between;
  padding: 13.5px 70px;
  background: white;
  .list-menu{
    display: flex;
    .item-menu{
      list-style: none;
      font-size: 16px;
      padding: 0 20px;
      &:last-of-type{
        padding: 0 0 0 20px;
      }
      a{
        color: black;
        font-weight: 400;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    .active {
      a {
        color: #009E9C;
      }
      color: #009E9C;
    }
  }
}

.footer{
  background: #6f6f6f;

  .main-footer {
    padding: 38px 20px 40px 20px;
    display: flex;
    .item-list{
      width: 16.667%;
      li, .title-list{
        font-size: 16px;
        font-weight: 400;
        padding: 15px 0;
        a{
          color: white;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .list-menu{
        padding: 0;
        li{
          padding: 5px 0;
          margin-bottom: 15px;
          list-style: none;
          margin-left: 0;
          a{
            color: white;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.header-sub {
  background: #d6d6d6;

  .list-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    .item-menu{
      list-style: none;
      font-size: 16px;
      padding: 20px 30px;
      &:last-of-type{
        padding: 0 0 0 20px;
      }
      a{
        color: black;
        font-weight: 400;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    .active {
      a {
        color: #009E9C;
      }
      color: #009E9C;
    }
  }
}


.copyright {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 15px;
}
