.products_detail {
  width: 1240px;
  margin: 0 auto;
  margin-bottom: 100px!important;
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    margin-top: 60px;
    width: 610px;

    .header {
      .header-title {
        color: #000;
        font-family: Inter, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .header-image {
        margin-top: 10px;
      }
    }

    .content {
      margin-top: 60px;

      .item {
        margin-top: 17px;
        display: flex;

        .label {
          min-width: 100px;
        }
      }
    }
  }

}

.products_detail-banner-footer {
  background: #D8D8D8;
  padding-top: 80px;
  padding-bottom: 80px;

  .section-header--btn {
    a {
      position: relative;
      .arrow {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
