.service {
  margin-top: 23px !important;
  margin-bottom: 31px !important;

  &--list {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &--item {
    width: 610px;

    .item-image {
      width: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .item-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      a {
        width: 100%;
        background: #FFFFFF;
        color: #009E9C;
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        border: 1px solid #009E9C;
        display: inline-block;
        padding: 14px 10px;
        position: relative;

        .text {
          display: inline-block;
        }

        .arrow {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
